*{
    padding: 0;
    margin: 0;
}

body{
    background-color: wheat;
}


/* Navigation */

.navbar{
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: black;
    color: white;
    height: 8vh;
    width: 100vw;
    align-items: center;
}

.navbar li a{
    text-decoration: none;
    color: white;
}
.navbar img{
    width: 48px;
}

.navbar li{
    padding: 0px 30px;
    margin: 2px 9px;
    cursor: pointer;

}


/* body  */

.container{
    display : flex;
    flex-direction: column;
   border-radius: 10px;
    color: white;
    width: 70vw;
    height: 70vh;
    margin: 28px auto;
    background-image: url(bg.jpg);
    background-size: 140vh 32vw;
    padding: 12px 22px;
}

.songlist{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 2vw;
}

.slots{
    background-color: white;
    color: black;
    border-radius: 12px;
    width: 20vw;
    height: 5vh;
    padding: 1px 5px;
    margin: 10px 2px;
    display: flex;
    flex-direction: column;

    
}




.songItem img{
    width: 2.1vw;
    border: 1px solid white;
    border-radius: 90%;
}

.songItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.songItem i{
    cursor: pointer;
}





/* Progress Bar  */
.progressBar{
    background-color: black;
    height: 12vh;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#myProgressBar{
    width: 70vw;
    margin-top: -32px;
}

.buttons i{
    margin: 2px 7px;
    padding: 2px 7px;
    cursor: pointer;
}

.songInfo{
    
    position: absolute;
    left: 0;
}

.songInfo img{
    width: 52px;
    opacity: 0;
    transition: 0.4s;
}
